@use '../../global-styles/' as gs;

.info__container {
    @include gs.page-center(column, none, center);
    background-color: gs.$light-background-color;
    padding-top: 5rem;

    &>footer {
        background-color: #C8DDFF;
        color: gs.$black-text;
        width: 100%;
        max-width: 75rem;
        @include gs.display-flex(none, center, none);
        padding: 0.75rem;
        box-shadow: 0px 0px 6px #808080;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
}