@use '../../global-styles/' as gs;

.change-pass {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    background-color: rgb(122, 120, 120, 0.6);
    @include gs.display-flex(none, center, center);

    &__modal {
        width: 19rem;
        background-color: rgba(207, 164, 164, 0.7);
        border-radius: 1.5rem;
        box-shadow: 0px 0px 18px 8px #ffffff;
        // backdrop-filter: blur(0.1rem);
        animation: opacityShow 0.5 forwards;
        -webkit-animation: opacityShow 0.5s forwards;
        -moz-animation: opacityShow 0.5s forwards;
        margin: 2rem;

        &__form {
            @include gs.set-form(100%, center, 85%, column, center, gs.$dark-shadow);

            &__input {
                width: 100%;
                border-radius: 1.5rem;
                padding: 0.3rem;
                border: 2px solid lightgrey;
                margin-bottom: 0.5rem;

                &::placeholder {
                    text-align: center;
                }
            }

            &__error-message{
                margin-top: 0.4rem;
                font-size: 0.7rem;
                font-weight: 500;
                color: rgb(138, 0, 0);
                text-transform: capitalize;
                text-align: center;
            }

            &>button {
                margin-top: 0.5rem;
                padding: 0.2rem 0.5rem;
                border-radius: 0.5rem;
                border: 2px solid lightgrey;
                box-shadow: 0px 0px 5px black;
                cursor: pointer;

                &:hover {
                    box-shadow: unset;
                }
            }

            &__dark {
                // background-color: ;
        
                &>label {
                    color: gs.$black-text;
                }
            }
        }
    }
}

@keyframes opacityShow {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}