@use '../../global-styles/' as gs;

.add-edit-pet__container {
    @include gs.page-center(column, none, center);
    background-color: gs.$light-background-color;

    &>header {
        @include gs.display-flex(row, space-between, center);
        width: 100%;
        max-width: 93rem;
        padding: 2rem;
        margin-bottom: 1rem;

        &>h1 {
            @include gs.display-flex(column, center, center);
            margin: 0;
            text-align: center;
            text-transform: capitalize;
            letter-spacing: 0.19rem;
            font-weight: 900;
            background-image: linear-gradient(220deg, gs.$light-gradient-first 0%, gs.$light-gradient-second 77%);
            background-size: 100%;
            background-repeat: repeat;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;

            &::after {
                content: '';
                background: linear-gradient(220deg, gs.$light-gradient-first 0%, gs.$light-gradient-second 77%);
                width: 110%;
                height: 0.5rem;
                display: block;
                border-radius: 50%;
                margin-top: 0.6rem;
            }
        }

        &>.dark {
            background-image: linear-gradient(220deg, gs.$dark-primary 0%, gs.$dark-secondary 77%) !important;

            &::after {
                background: linear-gradient(220deg, gs.$dark-primary 0%, gs.$dark-secondary 77%) !important;
            }
        }
    }

    &__form-wrapper {
        width: 100%;
        max-width: 71.5rem;
        padding: 0 2rem;
        margin-bottom: 3rem;

        &>form {
            @include gs.set-form(100%, center, 85%, column, center, gs.$dark-shadow);

            &>.required {
                @include gs.display-flex(row, none, none);
                width: 70%;
                margin-bottom: 0.5rem;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                }

                &>label {
                    margin: unset;
                    text-shadow: unset;
                }
            }

            &>label {
                width: 70%;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                }
            }

            &>input {
                width: 70%;
                border-radius: 1.5rem;
                padding: 0.3rem;
                border: 1px solid lightgrey;
                text-align: center;
                margin-bottom: 0.5rem;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                }

                &::placeholder {
                    text-align: center;
                }
            }

            &>span {
                color: red;
            }

            &>#description {
                width: 70%;
                height: 5rem;
                border-radius: 0.8rem;
                border: 1px solid lightgrey;
                padding: 0.3rem;
                margin-bottom: 1rem;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                    margin-bottom: unset;
                }
            }

            &>.pairs {
                width: 70%;
                @include gs.display-flex(row, none, none);
                margin-bottom: 1rem;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                    flex-direction: column;
                    margin-bottom: unset;
                }

                &>.wrapper {
                    width: 100%;

                    &>.required,
                    &>.content {
                        @include gs.breakpoint(mobile-start, mobile-end) {
                            margin-top: 1rem;
                        }

                        &>input,
                        &>input {
                            border-radius: 1.5rem;
                            padding: 0.3rem;
                            border: 1px solid lightgrey;
                            text-align: center;
                            width: 20%;

                            @include gs.breakpoint(mobile-start, tablet-end) {
                                width: 30%;
                            }
                        }

                        &>select {
                            padding: 0.2rem;
                            border-radius: 1.5rem;
                            border: 1px solid lightgrey;
                            cursor: pointer;
                        }
                    }

                    &>.required>label {
                        margin-bottom: unset;
                    }
    
                    &>.content>label {
                        padding-right: 0.5rem;
                        margin-bottom: unset;
                    }

                    &>span {
                        color: red;
                        display: inline-block;
                        width: 100%;
                    }
                }

                &>.last-wrapper {
                    @include gs.breakpoint(mobile-start, mobile-end) {
                        margin-bottom: 1rem;
                    }
                }
            }

            #birthDate {
                @include gs.breakpoint(mobile-start, tablet-end) {
                    padding: 0.3315rem;
                }
            }

            &>.fileInput {
                position: relative;
                width: 70%;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                }

                &>#photo {
                    position: relative;
                    width: 100%;
                    opacity: 0;
                    z-index: 2;
                    padding: 0.3rem;
                    cursor: pointer;
                }

                &>.fakeFileInput {
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    background-color: gray;
                    color: gs.$black-text;
                    border-radius: 1.5rem;
                    padding: 0.3rem;
                    border: 1px solid lightgrey;
                    margin-bottom: unset;
                }
            }

            &>input:last-of-type {
                width: 20%;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 30%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 40%;
                }
            }
        }

        &>.dark {
            @include gs.dark-theme(gs.$dark-background-color);
            @include gs.shadow(gs.$dark-secondary);
        }
    }

    &__dark {
        @include gs.dark-theme(gs.$dark-background-color-second);
    }
}

.asterisk {
    color: red;
}