// mobile: 320/479    tablet:480/767    display:768/1200   large screen:1201/...

$breakpoints-down: (
    'mobile-start':20em,
    'tablet-start': 30em,
    'display-start':48em,
);

$breakpoints-up: (
    'mobile-end':29.9375em,
    'tablet-end':47.9375em,
    'display-end':75em,
);

@mixin breakpoint ($size-start, $size-end) {
    @media (min-width: map-get($breakpoints-down, $size-start)) and (max-width: map-get($breakpoints-up, $size-end)) {
        @content;
    }
}
