$white-text:#fff;
$black-text:#000000;

$light-background-color: #F5F5F5;
$light-button-color:#AE004D;
$light-gradient-first:#FD2973;
$light-gradient-second: #FF5A39;
$light-gradient-second-transparent: #ff5a396e;
$light-lightgray:#F1F3F4;
$light-blue:#0F87FF;

$dark-background-color:#292929;
$dark-primary:#BB86FC;
$dark-primary-variant:#3700B3;
$dark-secondary:#03DAC6;
$dark-red:#CF6679;
