@mixin display-flex ($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

@mixin page-center ($direction, $content, $items) {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}