@mixin display-flex ($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

@mixin display-grid($columns-count, $gap, $justify-items) {
    display: grid;
    grid-template-columns: repeat($columns-count, 1fr);
    gap: $gap;
    align-items: center;
    justify-content: center;
    justify-items: $justify-items;
}

@mixin page-center ($direction, $content, $items) {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

@mixin shadow ($color) {
    box-shadow: 0px 0px 10px 0px $color;
    -webkit-box-shadow: 0px 0px 10px 0px$color;
    -moz-box-shadow: 0px 0px 10px 0px $color;
}

@mixin set-form ($width, $alignItems, $divWidth, $divDirection, $divAlignItems, $shadow-color) {
    width: $width;
    display: flex;
    flex-direction: column;
    align-items: $alignItems;
    padding: 2rem 1.4rem;
    background: #706f6f11;
    border-radius: 1.5rem;
    @include shadow($shadow-color);
    backdrop-filter: blur(0.25rem);
    animation: opacityShow 0.5 forwards;
    -webkit-animation: opacityShow 0.5s forwards;
    -moz-animation: opacityShow 0.5s forwards;

    &>div {
        width: $divWidth;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: $divDirection;
        align-items: $divAlignItems;

        &>label {
            text-shadow: 1px 0px 3px white;
        }
    }

    .account__message {
        margin-top: 1.25rem;
        font-size: 0.67rem;
        text-decoration: underline;
        cursor: pointer;
        color: blue;

        &:hover {
            color: #3c3cfc;
            font-style: italic;
        }
    }

    @keyframes opacityShow {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }

        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@mixin set-button($first-color, $second-color, $text-color) {
    @include display-flex(row, center, center);
    font-family: 'Raleway', 'serif';
    font-weight: 600;
    padding: 0.3rem 1.3rem;
    border-radius: 2rem;
    text-transform: capitalize;
    cursor: pointer;
    background: linear-gradient(220deg, $first-color 0%, $second-color 77%);
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.58);
    margin-top: 0.7rem;
    transition: 0.5s;

    &>svg {
        margin-left: 0.3rem;
    }

    &:hover {
        transform: scale(1.1);
        transition: 0.5s;
        color: $text-color;
    }
}

@mixin card-main-style ($width, $hight, $background-color, $shadow-color) {
    position: relative;
    width: $width;
    height: $hight;
    background: $background-color;
    border-radius: 1rem;
    overflow: hidden;
    @include shadow($shadow-color);
    padding: 0.2rem;
}

@mixin dark-theme ($background) {
    color: $white-text !important;
    background: $background !important;
    transition: 0.5s;
}