@use './index.scss' as gs;

.forms__container {
    @include gs.page-center(column, none, center);
    background-color: gs.$light-background-color;

    &__form-wrapper {
        width: 100%;
        max-width: 71.5rem;
        padding: 0 2rem;
        margin-bottom: 3rem;

        &>form {
            @include gs.set-form(100%, center, 85%, column, center, gs.$dark-shadow);

            &>.required {
                @include gs.display-flex(row, none, none);
                width: 70%;
                margin-bottom: 0.5rem;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                }

                &>label {
                    margin: unset;
                    text-shadow: unset;
                }
            }

            &>label {
                width: 70%;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                }
            }

            &>input {
                width: 70%;
                border-radius: 1.5rem;
                padding: 0.3rem;
                border: 1px solid lightgrey;
                text-align: center;
                margin-bottom: 0.5rem;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                }

                &::placeholder {
                    text-align: center;
                }
            }

            &>span {
                color: red;
            }

            &>#Description {
                width: 70%;
                height: 5rem;
                border-radius: 0.8rem;
                border: 1px solid lightgrey;
                padding: 0.3rem;
                margin-bottom: 1rem;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                    margin-bottom: unset;
                }
            }

            &>.pairs {
                width: 70%;
                @include gs.display-flex(row, none, none);
                margin-bottom: 1rem;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 85%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 100%;
                    flex-direction: column;
                    margin-bottom: unset;
                }

                &>.wrapper {
                    width: 100%;

                    &>.required,
                    &>.content {
                        @include gs.breakpoint(mobile-start, mobile-end) {
                            margin-top: 1rem;
                        }

                        &>input,
                        &>input {
                            border-radius: 1.5rem;
                            padding: 0.3rem;
                            border: 1px solid lightgrey;
                            text-align: center;
                            width: 20%;

                            @include gs.breakpoint(mobile-start, tablet-end) {
                                width: 30%;
                            }
                        }

                        &>select {
                            padding: 0.2rem 0rem 0.2rem 0.4rem;
                            border-radius: 1.5rem;
                            border: 1px solid lightgrey;
                            cursor: pointer;
                        }
                    }

                    &>.required>label {
                        margin-bottom: unset;
                    }

                    &>.content>label {
                        padding-right: 0.5rem;
                        margin-bottom: unset;
                    }

                    &>span {
                        color: red;
                        display: inline-block;
                        width: 100%;
                        margin-top: 0.2rem;
                    }
                }

                &>.last-wrapper {
                    @include gs.breakpoint(mobile-start, mobile-end) {
                        margin-bottom: 1rem;
                    }
                }
            }

            #birthDate {
                @include gs.breakpoint(mobile-start, tablet-end) {
                    padding: 0.3315rem;
                }
            }

            &>input:last-of-type {
                width: 20%;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    width: 30%;
                }

                @include gs.breakpoint(mobile-start, mobile-end) {
                    width: 40%;
                }
            }

            &>.deleteBtn {
                margin-top: 0.5rem;
                font-size: 1rem;
                background-color: #ffffff;
                color: #ff0000;
                padding: 0.3rem 1rem;
                border: 1px solid #808080;
                border-radius: 1.5rem;
                cursor: pointer;
                transition: 0.5s;
                transition: background-color 0.5s ease-in-out;

                &:hover {
                    background-color: #ff0000;
                    color: #ffffff;

                    &::after {
                        content: ' Delete';
                    }
                }
            }
        }

        &>.dark {
            @include gs.dark-theme(gs.$dark-background-color);
            @include gs.shadow(gs.$dark-secondary);
        }
    }

    &__dark {
        @include gs.dark-theme(gs.$dark-background-color-second);
    }
}

.asterisk {
    color: red;
}