@use "../../global-styles/" as gs;

$primary-color: #fd5068;
$background-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.1);

.chat-container {
  width: 100%;
  box-shadow: 0 0 10px $shadow-color;
  display: flex;
  flex-direction: column;
  height: 100vh;

  &.dark {
    .message-input {
      input {
        background-color: #5f5f5f;
        color: white;

        &::placeholder {
          color: white;
        }
      }

      button {
        background: linear-gradient(220deg, #bb86fc 0%, #03dac6 77%);

        &.disabled {
          color: white;
        }
      }
    }

    .username {
      color: white;
    }

    .recipient .message-text {
      background-color: #5f5f5f;
    }

    .sender .message-text {
      background: #02c5ff;
    }

    .chat-header {
      border-bottom: 0.5px solid white;
    }
  }

  .message-input {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    margin-top: auto;

    input {
      flex: 1;
      padding: 8px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
      outline: none;
      background-color: #efefef;
    }

    button {
      background: linear-gradient(220deg, #fd2973 0%, #ff5a39 77%);
      color: #fff;
      border: none;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 600;

      &.disabled {
        background: #909090;
        color: black;
        cursor: not-allowed;
      }
    }
  }
}
