$primary-color: #fd5068;
$background-color: #fff;
$shadow-color: rgba(0, 0, 0, 0.1);

.chat-container {
  width: 100%;
  background-color: $background-color;
  box-shadow: 0 0 10px $shadow-color;
  overflow: hidden;

  .message-input {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;

    input {
      flex: 1;
      padding: 8px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
      outline: none;
    }

    button {
      background: linear-gradient(220deg, #FD2973 0%, #FF5A39 77%);
      color: #fff;
      border: none;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}