.profile-wrapper {
    width: 100%;
    height: 100%;
    background: rgb(255,90,57);
    background: linear-gradient(306deg, rgba(255,90,57,0.7777311608237045) 3%, rgba(253,41,115,0.5480392840730042) 94%);
    overflow: scroll;
    
    &__dark {
        background: rgb(3,218,198);
        background: linear-gradient(306deg, rgba(3,218,198,1) 3%, rgba(187,134,252,1) 94%); 
    }

    &__img {
        height: 50%;

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        padding: 1rem;

        &>p {
            margin-bottom: 0.5rem;

            &>svg {
                margin-right: 0.35rem;
            }
        }

        &__name {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}