@use '../../global-styles/' as gs;

.details-wrapper {
    @include gs.page-center (column, none, center);

    &__content {
        width: 95%;
        max-width: 86rem;
        background: gs.$light-background-color;
        margin: 1.3rem auto;
        border-radius: 1.5rem;
        padding: 1rem;
        @include gs.shadow(gs.$dark-shadow);
        @include gs.display-flex(column, none, none);

        &__info {
            @include gs.display-flex(none, space-between, none);
            flex-wrap: wrap;
            gap: 2rem;
            margin: 1rem;

            @media (max-width: 37.5rem) {
                flex-direction: column;
            }

            &>section {
                max-width: 33%;

                @include gs.breakpoint(tablet-start, tablet-end) {
                    max-width: 50%;

                    &:last-of-type {
                        @include gs.display-flex(row, space-between, none);
                        gap: 2rem;
                        max-width: 100%;
                    }
                }

                @media (max-width: 37.5rem) {
                    max-width: 100%;
                }

                // &>.text {
                //     white-space: nowrap;
                //     overflow: hidden;
                //     text-overflow: ellipsis;
                //     word-wrap: break-word;
                // }
            }

            &>section>.media {
                margin-bottom: 1rem;

                &>a {
                    color: #007bff;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &>section>div>.name {
                text-transform: capitalize
            }
        }

        &__dark {
            @include gs.dark-theme(gs.$dark-background-color);
        }
    }

    &__dark {
        @include gs.dark-theme(gs.$dark-background-color-second);
    }
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;

    &>img {
        max-width: 100%;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
        border: 2px solid gs.$dark-primary;
        border-radius: 1.5rem;
    }
}