@use "../../global-styles/" as gs;

.register__form {
	@include gs.set-form(100%, center, 85%, column, center, gs.$dark-shadow);

	&__section {
		width: 19rem;
	}

	&__input {
		width: 100%;
		border-radius: 1.5rem;
		padding: 0.3rem;
		border: 1px solid lightgrey;
		text-align: center;

		&:focus {
			background: gs.$light-gradient-second-transparent;
			border: 1px solid gs.$light-button-color;
		}

		&::placeholder {
			text-align: center;
		}
	}

	&__error__message {
		margin-top: 0.4rem;
		font-size: 0.7rem;
		font-weight: 500;
		color: rgb(138, 0, 0);
		text-transform: capitalize;
		text-align: center;
	}

	&__roles {
		@include gs.display-flex(column, none, center);
		margin-bottom: 1rem;
		font-weight: 600;

		&__marketplace {
			@include gs.display-flex(column, none, center);
		}
	}
}