@use '../../../global-styles/' as gs;

.card__button {
    color: gs.$black-text;
    font-size: 0.8rem;
    @include gs.set-button(gs.$light-gradient-first,gs.$light-gradient-second,gs.$white-text);
}

.card__button__dark {
    color: gs.$black-text;
    font-size: 0.8rem;
    @include gs.set-button(gs.$dark-primary,gs.$dark-secondary,gs.$dark-primary-variant);
}

.market {
    font-size: 1rem;
    text-transform: unset;
}