@use '../../global-styles/' as gs;

.dashboard {

    &__wrapper {
        @include gs.page-center (column, none, center);
    }

    &__greet {
        padding: 1.8rem;

        &>h2 {
            text-transform: capitalize;
            text-decoration: underline;
        }
    }

    &__pets {
        @include gs.display-grid(3, 2.2rem);
        margin: 2rem 0;
    }


}

.dashboard__article {
    width: 95%;
    max-width: 86rem;
    background: gs.$light-background-color;
    margin: 1.3rem auto;
    border-radius: 1.5rem;
    padding: 1rem;
    @include gs.shadow(gs.$dark-shadow);

    &>h3 {
        text-align: center;
        margin: 0.5rem;
        text-transform: capitalize;
    }


}