@use '../../global-styles/' as gs;

#fileInput {
    position: relative;
    width: 70%;

    @include gs.breakpoint(tablet-start, tablet-end) {
        width: 85%;
    }

    @include gs.breakpoint(mobile-start, mobile-end) {
        width: 100%;
    }

    &>#photo {
        position: relative;
        width: 100%;
        opacity: 0;
        z-index: 2;
        padding: 0.3rem;
        cursor: pointer;
    }

    &>.fakeFileInput {
        position: absolute;
        width: 100%;
        text-align: center;
        background-color: #bdbcbc;
        color: gs.$black-text;
        border-radius: 1.5rem;
        padding: 0.3rem;
        border: 1px solid lightgrey;
        margin-bottom: unset;
    }
}

.limit-message {
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

#images {
    margin-top: 0.5rem;
    width: 70%;
    @include gs.display-flex(row, space-around, none);
    flex-wrap: wrap;
    gap: 1.5rem;

    @include gs.breakpoint(tablet-start, tablet-end) {
        width: 85%;
    }

    @include gs.breakpoint(mobile-start, mobile-end) {
        width: 100%;
    }

    &>.image-preview {
        border: 1px solid gs.$dark-primary;
        width: 12rem;
        height: 12rem;
        border-radius: 1.5rem;
        position: relative;

        @include gs.breakpoint(tablet-start, tablet-end) {
            width: 9rem;
            height: 9rem;
        }

        @include gs.breakpoint(mobile-start, mobile-end) {
            width: 7rem;
            height: 7rem;
        }

        &>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1.5rem;
        }

        &>button {
            position: absolute;
            top: -0.25rem;
            right: -0.25rem;
            background-color: gs.$light-background-color;
            color: red;
            padding: 0.1rem 0.3rem;
            border-radius: 100%;
            border: none;
            cursor: pointer;

            &:hover {
                background-color: red;
                color: gs.$white-text;
            }
        }
    }
}