.chat-messages {
  overflow-y: auto;
  padding: 10px;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f4f4f4;
  display: flex;
  flex-direction: column-reverse;
}

.message {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  &.sender {
    justify-content: flex-end;
    align-items: flex-end;
    .message-text {
      background-color: #34B7F1;
      color: #fff;
      border-radius: 8px;
    }
  }

  &.recipient {
    justify-content: flex-end;
    align-items: flex-start;
    .message-text {
      background-color: #efefef;
      border-radius: 8px;
    }
  }

  .message-text {
    background-color: #e1e1e1;
    padding: 8px;
    display: inline-block;
    max-width: 65%;
    word-wrap: break-word;
  }

  .timestamp {
    font-size: 12px;
    color: #888;
    margin-top: 4px;
  }
}
