@use '../../global-styles/' as gs;

.matches {
    &__page {
        position: relative;
        width: 100%;
        height: 100vh;
        @include gs.display-flex(row, none, none);
        transition: 0.5s;
        overflow: hidden;

        &__dark {
            @include gs.dark-theme(gs.$dark-background-color-second);
            transition: 0.5s;
        }

        &>section {
            // width: 33%;
            border-right: 1px solid #e3dcdc;
            height: 100vh;

            ::-webkit-scrollbar {
                display: none;
            }

            -ms-overflow-style: none;
            scrollbar-width: none;
        }





        &__theme__button {
            position: absolute;
            top: 0.5rem;
            right: 1.25rem;
            z-index: 3;
        }

        &__matches {
            position: relative;
            width: 25%;
            @include gs.display-flex(column, none, center);
            transition: 0.5s;

            &__links {
                @include gs.display-flex(row, center, center);
                width: 100%;
                padding-bottom: 0.3rem;

                &__dark {
                    @include gs.dark-theme(gs.$dark-background-color);
                }

                &>h4 {
                    position: relative;
                    @include gs.display-flex(column, none, center);
                    text-transform: capitalize;
                    margin: 0.5rem 1rem;
                    cursor: pointer;

                    &>span {
                        position: absolute;
                        top: -0rem;
                        right: -1rem;
                        background: gs.$light-button-color;
                        padding: 0.2rem;
                        font-size: 0.75rem;
                        border-radius: 0.25rem;
                    }
                }
            }

            &__render {
                transition: 0.5s;
                width: 100%;
                padding: 1.2rem 0;
                overflow: auto;
                @include gs.display-grid(2, 1rem, center);
                transition: 0.5s;
            }

        }

        &__chat {
            width: 50%;
            transition: 0.5s;

            &__large {
                width: 75%;
                transform: 0.5s;
            }
        }

        &__profile {
            width: 25%;
            transition: 0.5s;

            &__hidden {
                width: 0%;
                transform: 0.5;
            }

            &__content {
                width: 80%;
                margin-inline: auto;
                animation: opacityShow 1s;

                &__hidden {
                    animation: hideProfile 0.4s;
                }
            }
        }
    }

    &__messages__option {
        &::after {
            content: '';
            width: 110%;
            border-radius: 20%;
            height: 0.2rem;
            background: gs.$light-blue;
            position: absolute;
            opacity: 1;
            bottom: -0.6rem;
            margin: 0.1rem;
            animation: opacityShow 0.5 forwards;
            -webkit-animation: opacityShow 0.5s forwards;
            -moz-animation: opacityShow 0.5s forwards;
        }
    }
}


@keyframes opacityShow {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes hideProfile {
    0% {
        opacity: 1;
        transform: scale(1);
        transition: 0.4s;
    }

    100% {
        opacity: 0;
        transform: scale(0.1);
        transition: 0.4s;
        display: none;
    }
}