@use '../../global-styles' as gs;

.container__header {
    position: fixed;
    padding: 1rem;
    display: flex;
    width: 100%;
    z-index: 2;

    &__logo {
        margin-left: 4rem; // large screen
        margin-right: auto;

        @include gs.breakpoint(display-start, display-end) {
            margin-left: 3rem;
        }

        @include gs.breakpoint(tablet-start, tablet-end) {
            margin-left: 2rem;
        }

        @include gs.breakpoint(mobile-start, mobile-end) {
            margin-left: 1rem;
        }
    }

    &>a {
        color: gs.$light-gradient-first;
        font-weight: 900;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px #000000;
        align-self: end;

        &:hover {
            color: gs.$dark-primary-variant;
            text-shadow: 1px 1px 1px #fff;
        }
    }
}