@use '../../global-styles' as gs;

.container__header {
    position: fixed;
    padding: 1rem;
    display: flex;
    width: 100%;
    z-index: 2;

    &__logo {
        margin-left: 4rem; // large screen
        margin-right: auto;

        @include gs.breakpoint(display-start, display-end) {
            margin-left: 3rem;
        }

        @include gs.breakpoint(tablet-start, tablet-end) {
            margin-left: 2rem;
        }

        @include gs.breakpoint(mobile-start, mobile-end) {
            margin-left: 1rem;
        }

        &>img {
            width: 3rem;
        }

        &>h2 {
            display: inline-block;
            margin-bottom: unset;
            text-shadow: 2px 2px 2px #000000;
            color: #9353d0;
        }
    }

    &>a {
        color: gs.$dark-primary-variant;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 900;
        font-size: 1.25rem;
        text-shadow: 1px 1px 1px #fff;
        align-self: end;

        &:hover {
            text-decoration: underline;
            color: #ad44ab;
        }
    }
}