@use '../../../global-styles/' as gs;

.loader {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gs.$dark-shadow;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 10;

    &__hidden {
        opacity: 0;
        visibility: hidden;
    }

    &::after {
        content: "";
        width: 5rem;
        height: 5rem;
        border: 0.4rem solid #dddddd;
        border-top-color: gs.$dark-secondary;
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
    }
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}